nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}

header a {
  position: absolute;
  left: 30px;
  bottom: 15px;
}

.arrow-left {
  font-size: 26px;
  color: #353535;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  margin-top: -50px;
  position: relative;
  padding: 20px;
  width: inherit;
  z-index: 2;
}
.menu h1 {
  font-family: shrikhand;
  font-weight: 200;
}
.menu--image {
  width: 100%;
  height: 330px;
  z-index: 1;
  object-fit: cover;
  overflow: hidden;
}

.restaurantname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 20px 10px;
  font-size: 56px;
  position: relative;
}

.course--title {
  color: #353535;
  margin-bottom: 4px;
  margin-top: 40px;
  margin-left: 5px;
  font-size: 20px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 10px 0 10px 10px;
  width: 100%;
  height: 60px;
  margin: 10px 0 0px 0;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: flex-end;
}
.card--text {
  flex-direction: column;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card--title {
  font-weight: 600;
  font-size: 20px;
  margin: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card--details {
  margin: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card--price {
  font-weight: 600;
  margin-bottom: 5px;
  padding-right: 40px;
  transition-duration: 0.5s;
  transform-origin: right;
}
.card:hover > .checked-background {
  margin-right: 0px;
}
.card:hover .checked {
  animation: checked-animation 0.6s 0.1s both ease;
}
.card:hover .card--price {
  margin-right: 0px;
}

.checked {
  color: white;
  font-size: 28px;
  display: flex;
  transform: scale(1);
}
.checked-background {
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 60px;
  margin-bottom: -10px;
  margin-right: -60px;
  transition-duration: 0.5s;
}

.greenline {
  height: 4px;
  width: 50px;
  background-color: #99e2d0;
  transform: translateX(4000px);
  animation: greenline-entrance 0.6s 1.2s both;
  margin-bottom: 20px;
  margin-left: 5px;
}

.commandbutton {
  width: 60%;
  margin: 50px 20%;
}

.card1 {
  animation: cardapparition 0.6s both ease;
  animation-delay: 0.2s;
}

.card2 {
  animation: cardapparition 0.6s both ease;
  animation-delay: 0.4s;
}

.card3 {
  animation: cardapparition 0.6s both ease;
  animation-delay: 0.6s;
}

.card4 {
  animation: cardapparition 0.6s both ease;
  animation-delay: 0.8s;
}

.card5 {
  animation: cardapparition 0.6s both ease;
  animation-delay: 1s;
}

.card6 {
  animation: cardapparition 0.6s both ease;
  animation-delay: 1.2s;
}

.card7 {
  animation: cardapparition 0.6s both ease;
  animation-delay: 1.4s;
}

.card8 {
  animation: cardapparition 0.6s both ease;
  animation-delay: 1.6s;
}

.card9 {
  animation: cardapparition 0.6s both ease;
  animation-delay: 1.8s;
}

.card10 {
  animation: cardapparition 0.6s both ease;
  animation-delay: 2s;
}

/*LIKE ANIMATION*/
@keyframes liked {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*CHECKED ANIMATION*/
@keyframes checked-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checked-background-animation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
/*GREENLINE APPARITION*/
@keyframes greenline-entrance {
  100% {
    transform: translateX(0px);
  }
}
/*CARD APPARITION*/
@keyframes cardapparition {
  from {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.loader-container {
  position: fixed;
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: disappear 4s ease forwards;
}

.loader {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 40px;
  height: 98px;
  display: inline-block;
  position: relative;
  border: 2px solid #9356DC;
  box-sizing: border-box;
  color: #ff79da;
  background-image: linear-gradient(to bottom right, #ff79da, #9356DC);
  border-radius: 20px 20px 4px 4px;
  background: #fff;
  animation: fill 2s linear infinite alternate;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -95%);
  border: 2px solid #9356DC;
  border-bottom: none;
  background: #fff;
  width: 15px;
  height: 35px;
  animation: fillNeck 2s linear infinite alternate;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 inset;
  }
  50%, 100% {
    box-shadow: 0 -98px inset;
  }
}
@keyframes fillNeck {
  0%, 50% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -20px inset;
  }
}
@keyframes disappear {
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
body {
  margin: auto;
  box-sizing: border-box;
  font-family: "roboto";
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inherit;
}

header {
  text-align: center;
  display: block;
  position: fixed;
  background-color: white;
  height: 60px;
  width: 100%;
  margin-top: 0;
  top: 0;
  left: 0;
  z-index: 3;
}

h1 {
  font-size: 32px;
  letter-spacing: -1px;
  font-weight: 700;
}

.location {
  background-color: #eaeaea;
  padding: 10px;
  margin-top: 60px;
  text-align: center;
  box-shadow: inset 0px 3px 3px #dddddd;
}
.location--form {
  border: none;
  height: 35px;
  background-color: #eaeaea;
  text-align: center;
}
.location--form::placeholder {
  color: #353535;
  font-weight: 600;
}

.explore {
  background-color: #f6f6f6;
  text-align: center;
  padding: 45px 3rem;
}
.explore h1 {
  margin: 0;
  width: 270px;
  margin: auto;
}
.explore p {
  color: #7e7e7e;
}

.button {
  padding: 20px;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356DC);
  box-shadow: 8px 8px 15px #dddddd;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.button:hover {
  box-shadow: 10px 10px 15px #aaaaaa;
  transition: box-shadow 0.5s ease;
  transform: scale(1.03);
  transition: transform 0.2s ease;
}

.functioning {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 50px;
}
.functioning h2 {
  padding: 20px 15px 15px 30px;
}

.functioning--elt {
  background-color: #f6f6f6;
  box-shadow: 8px 8px 15px #dddddd;
  width: 80%;
  padding: 24px 18px;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  position: relative;
  z-index: 1;
}
.functioning--elt__icon {
  color: #7e7e7e;
  display: flex;
  font-size: 18px;
  width: 40px;
  padding-left: 20px;
}
.functioning--elt__number {
  background-color: #9356DC;
  color: white;
  border-radius: 40px;
  font-size: small;
  font-weight: 400;
  padding: 4px 6px 2px 6px;
  position: absolute;
  left: -5px;
}
.functioning--elt:hover {
  box-shadow: 10px 10px 15px #aaaaaa;
  transition: box-shadow 0.5s ease;
}

.functioning--elt::before {
  background: #f5edff;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;
  width: 100%;
  border-radius: 20px;
  margin: auto;
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.functioning--elt:hover::before {
  transform: scaleX(1);
}

.functioning--elt:hover .functioning--elt__icon {
  color: #9356DC;
}

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 20px;
}
.restaurants h2 {
  padding: 20px 15px 15px 30px;
}

.restaurant--card {
  border-radius: 20px;
  box-shadow: 8px 8px 15px #dddddd;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
}
.restaurant--card__new {
  background-color: #99e2d0;
  color: #278870;
  display: flex;
  padding: 0.5em 1em;
  margin-top: 0.6rem;
  position: absolute;
  /*margin-left:62%;;*/
  right: 15px;
  border-radius: 3px;
}
.restaurant--card__image {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.restaurant--card__body {
  display: flex;
  padding: 0 25px 10px 15px;
  justify-content: space-between;
}
.restaurant--card__text h3 {
  margin-bottom: 8px;
}
.restaurant--card__text p {
  margin: 0 0 8px 0;
  font-size: 18px;
}
.restaurant--card__like {
  font-size: 24px;
  font-weight: 100;
  align-self: center;
  z-index: 0;
}
.restaurant--card__like--activated {
  background-image: linear-gradient(to top, #ff79da, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  right: 0px;
  position: absolute;
  transform: scale(0);
}
.restaurant--card__like:hover .restaurant--card__like--activated {
  animation: liked 0.6s both ease;
}
.restaurant--card__like:hover .restaurant--card__like--desactivated {
  opacity: 0;
  transition-duration: 1s;
}
.restaurant--card:hover {
  box-shadow: 10px 10px 15px #aaaaaa;
  transition: box-shadow 0.5s ease;
}

.like-index {
  position: absolute;
  right: 25px;
}

footer {
  background-color: #353535;
  color: white;
  padding-bottom: 20px;
}
footer ul {
  padding-left: 30px;
}
footer h4 {
  font-family: shrikhand;
  font-weight: 50;
  font-size: 18px;
  letter-spacing: normal;
  padding: 23px 0 0 30px;
  margin-top: 0;
}
footer li {
  padding: 3px;
}
footer .icon {
  width: 35px;
}

/*# sourceMappingURL=style.css.map */
