
@import "../sass/utils/variables";
@import "../sass/Utils/mixins";
@import "../sass/Pages/Menu.scss";
@import"../sass/Utils/keyframes.scss";


body {
    max-width: 768px;
    margin:auto;
    box-sizing: border-box;
    font-family:'roboto';
}

ul {
    list-style-type: none;
}

a { 
    text-decoration:none;
    color:inherit;
    display: inherit;   
}

header {
    text-align:center; 
    display:block;
  position:fixed;
  background-color: white;
  height:60px;
  width:100%;
  margin-top:0;
  top:0;
  left:0;
  z-index:3;
        & img {
        margin:18px 0 10px 0;
        }
}

h1 {
    font-size:28px;
    letter-spacing:-1px;
    font-weight: 700;
}

.location {
    background-color: #eaeaea;
    padding:10px;
    margin-top:60px;
    text-align: center;
    box-shadow: inset 0px 3px 3px $shadow;
        &--form {
            border:none;
            height:35px;
            background-color:#eaeaea;
            text-align:center;
                &::placeholder {
                    color: $darkcolor;
                    font-weight:600;
                }
        }
}

.explore {
    background-color: $background;
    text-align:center;
    padding:45px 3rem;
        & h1 {
             margin:0;
             width:270px;
             margin:auto;
    }
        & p {
            color : $smooth;
        }

}

.button {
    padding:20px;
    border:none;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, $secondary, $primary);
    @include shadow();
    color:white;
    font-weight:500;
    letter-spacing: 0.5px;;
        &:hover {
            @include strongershadow();
            transform: scale(1.03);
            transition: transform 0.2s ease;
        }
}

.functioning {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom:50px;
    & h2 {
        @include title();
    }
}

.functioning--elt {
    background-color: $background;
    @include shadow();
    width:240px;
    padding:24px 18px;
    border-radius:20px;
    margin:auto;
    margin-top:20px;
    font-weight: 600;
    font-size: 14px;
    display:flex;
    position:relative;
    justify-content: space-around;
    z-index: 1;
        &__icon {
            color: $smooth;
            display: flex;
            font-size: 18px;
        }
        &__number {
            background-color: $primary;
            color:white;
            border-radius: 40px;
            font-size:small ;
            font-weight: 400;
            padding:4px 6px 2px 6px;
            position:absolute;
            margin-left:-270px;
        }
        &:hover {
            @include strongershadow();
        }
}

.functioning--elt::before {
    background: $primarylight;
    content: "";
    position: absolute;
    top:0;
    left:0;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
    width: 100%;
    border-radius:20px;
    margin:auto;
    transition:all 0.3s ease-in-out;
    height:100%;
}

.functioning--elt:hover::before {
    transform: scaleX(1);


}

.functioning--elt:hover .functioning--elt__icon {
    color:$primary;
}

.restaurants {
    background-color: $background;
        & h2 {
            @include title();
        }
}

.restaurant--card {
    border-radius:20px;
    @include shadow();
    width:90%;
    margin:auto;
    margin-bottom:20px;
        &__new {
            background-color:$tertiary;
            color: darken($tertiary,40%);
            display: flex;
            padding: 0.5em 1em;
            margin-top:0.6rem;
            position: absolute;
            margin-left:62%;;
            border-radius: 3px;
        }
        &__image {
            object-fit: cover;
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 180px;
            overflow: hidden;
        }
        &__body {
            display:flex;
            padding:0 25px 10px 15px;
            justify-content: space-between;
        }
        &__text {

                & h3 {
                    margin-bottom:8px;
                }
                & p {
                    margin: 0 0 8px 0 ;
                    font-size: 18px;
                }
        }
        &__like {
            font-size:24px;
            font-weight:100;
            align-self:center;
            position:absolute;
            margin-left:75%;
            z-index: 0;
            &--activated {
                background-image:linear-gradient(to top, $secondary, $primary);
                background-clip:text;
                -webkit-background-clip: text;
                color:transparent;     
                -webkit-text-fill-color: transparent;
                font-size: 26px;
                margin-left:-100%;
                position:absolute;
                align-self: center;
                transform: scale(0);
                    }
            &:hover .restaurant--card__like--activated {
                animation:liked 0.6s both ease;

                }
            
            }

        &:hover {
            @include strongershadow();
        }
        }




footer {
    background-color: $darkcolor;
    color:white;
    padding-bottom:20px;
        & h4 {
            font-family: shrikhand;
            font-weight:50;
            font-size:18px;;
            letter-spacing:normal;
            padding:23px 0 0 35px;
        }
        & li {
            padding:3px;
        }
        & .fas {padding-right:10px;}
}

