/*LIKE ANIMATION*/

@keyframes liked {
    0% {
        transform: scale(0);
    }
    100%  {
        transform:scale(1);
    }
}

/*CHECKED ANIMATION*/

@keyframes checked-animation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes checked-background-animation {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

/*GREENLINE APPARITION*/

@keyframes greenline-entrance {
    100% {
        transform: translateX(0px);
    }
}

/*CARD APPARITION*/

@keyframes cardapparition {
    from {
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }