@mixin shadow {
    box-shadow: 8px 8px 15px $shadow;
}

@mixin strongershadow {
    box-shadow: 10px 10px 15px darken($shadow, 20%);
    transition: box-shadow 0.5s ease;
}

@mixin title {
    padding:20px 15px 15px;
}

@mixin cardapparition {
    animation: cardapparition 0.6s both ease;
}